
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Success</h1>
<p>You have successfully submitted a suggestion. We will carefully review it and perhaps your suggestion will be featured on our page!</p>
<a asp-action="Suggestions">View All Suggestions</a><br />
<a asp-action="Suggestion">Make another Suggestion</a>